{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Editar Curso{% else %}Novo Curso{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    {% if form.instance.pk %}
                        Editar Curso: {{ form.instance.title }}
                    {% else %}
                        Criar Novo Curso
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{ form.title|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.departments|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-check mt-4">
                                {{ form.is_mandatory|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {% if form.instance.thumbnail %}
                                <div class="mb-3">
                                    <img src="{{ form.instance.thumbnail.url }}" 
                                         class="img-thumbnail" 
                                         style="max-width: 200px;">
                                </div>
                            {% endif %}
                            {{ form.thumbnail|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'courses:course_list' %}" class="btn btn-secondary me-md-2">
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            {% if form.instance.pk %}Atualizar{% else %}Criar{% endif %} Curso
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Inicializa Select2 para o campo de departamentos
    $(document).ready(function() {
        $('#id_departments').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione os departamentos',
            allowClear: true
        });
    });
</script>
{% endblock %} 